html,body{
    height: 100%;
}
body{
    margin:0px;
}
/* ヘッダー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.header{
    height: 60px;
    display: flex;
    align-items: center;
    background:#1d3297;
    /* position: fixed; */
    width: 100%;
}
.image_area{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    height: 100%;
}
.header-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.header_title{
    display: flex;
    width: 80%;
    /* justify-content: center; */
    align-items: center;
}
.phone-menu{
    display: none;
}
.mail_area{
    display: flex;
    align-items: flex-end;
    display: flex;
    color: white;
    font-size: 14px;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */


/* ヘッダ、フッタ以外 */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
#wrapper {
    margin: 0 auto;
    flex-wrap: wrap;
    display: inline-block;
    margin-top: 60px;
    height: 100%;
    width: 100%;
}
.main_content{
    justify-content: center;
    width: 89%;
    margin: 0 auto;
}
.gridWrapper{
    clear:both;
    padding:20px 0;
    overflow:hidden;
    width: 100%;
}
        
.grid{
    float:left;
}
    
.colDark,.colLight{
    padding-bottom:10px;
    color:#535353;
    background:white;
    width: 100%;
    display: inline-block;
    margin: 15px 0px;
    border-bottom:1px solid#5d5d5d;
}
    
    
.colDark h3,.colLight h3{
    margin:10px 10px 5px;
    font-size:14px;
    border-bottom:1px solid #fff;
}
    
.colDark a,.colLight a{
    display:block;
    color:#994c20;
}
    
.colDark a:hover,.colLight a:hover{
    color:#994c207d;
}

.grid p{
    padding:5px 10px;
    text-align: right;
    margin: 0px;
}
.grid .content_body{
    text-align: left;
}

.grid ul{margin:5px 10px;}

.grid li{
    padding:5px 0;
    list-style:inside;
    border-bottom:1px dashed #ebebeb;
}

.gridWrapper img{
    max-width:100%;
}
.main_content_row{
    display: flex;
}
.right{
    float: right;
    width: 75%;
    height: 100%;
}
.left{
    float: left;
    width: 225px;
    height: 100%;
}

  /* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

/* レスポンシブスマホ */
@media screen and (max-width: 865px) {

}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    h2{
        font-size: 16px;
    }
    .header-name{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 13px;
        display: none;
    }
    .phone-menu{
        display: block;
    }
    .header_icon{
        height:60px;
        width: 60px;
        margin-left: 5px;
    }
    .header{
        height: 70px;
    }
    #wrapper{
        display: block;
    }
    .right{
        float: none;
        width: auto;
        height: auto;
    }
    .left{
        float: none;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        border: 1.3px dashed #ac590a82;
        border-radius: 45px;
    }
    .main_content_row{
        display: block;
        height:auto;
    }
    .grid .content_body{
        text-align: left;
        font-size: 12px;
    }
    .colLight a {
        font-size: 12px;
    }
    .fadein{
        transition: 0.7s ease-in-out ;
    }
    .fadein2{
        transition: 0.7s ease-in-out ;
    }
}


	
/*1.フェードインアニメーションの指定*/
.fadein {opacity: 0;} /*一瞬表示されるのを防ぐ*/
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;         
    }
    100% {
    opacity: 1;
    transform: translate(0);
    }
}
 
/*2.上下の動きを指定*/
.updown {transform: translateY(-100px);}
.downup {transform: translateY(100px);}
 
/*3.左右の動きを指定*/
.sect02{overflow: hidden;} /*横スクロールバーを隠す*/
.slide-right {transform: translateX(500px);}
.slide-left {transform: translateX(-500px);}