html,body{
    height: 100%;
}
body{
    margin:0px;
}
/* ヘッダー */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */

.header{
    display: flex;
    align-items: center;
    background:#1d3297;
    /* position: fixed; */
    width: 100%;
    height: 9%;
}
.header_content{
    margin-left:10px;
}
.image_area{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
    height: 100%;
}
.header-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}
.header_title{
    display: flex;
    width: 80%;
    /* justify-content: center; */
    align-items: center;
}
.instagram_icon_text{
    margin-bottom: 10px;
}
.phone-menu{
    display: none;
}
.mail_area{
    display: flex;
    align-items: flex-end;
    display: flex;
    color: white;
    font-size: 14px;
}
#wrapper {
    margin: 0 auto;
    flex-wrap: wrap;
    display: inline-block;
    height: auto;
    width: 100%;
}
.main_content{
    justify-content: center;
    width: 89%;
    margin: 0 auto;
    padding: 40px 0px;
}
.footer{
    background-color: #1d3297;
    color: white;
    display: flex;
    height: 9%;
    justify-content: center;
    align-items: center;
}
.footer_body{
    font-size: 15px;
    text-align: center;
    padding: 0px 35px;
}
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */



/* レスポンシブスマホ */
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用）ヘッダスタイル */

    h2{
        font-size: 16px;
    }
    .header-name{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 13px;
        display: none;
    }
    .phone-menu{
        display: block;
    }
    .image_area{
        display: none;
    }
    .header_title{
        width: 100%;
        padding: 0px 10px;
        height: 100%;
    }
    .header_content{
        margin-left: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        border-right: 1px solid white;
    }
    .header_icon{
        height:60px;
        width: 60px;
        margin-left: 5px;
    }
    .mail{
        width: 35%;
    }
    .mail_area{
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .mail_icon{
        width: 20px;
    }
    .mail_icon_text{
        font-size: 12px;
    }
    .instagram{
        width: 35%;
    }
    .instagram_icon{
        width: 35px;
    }
    .instagram_icon_text{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .footer{
        padding: 0px 22px;
    }
    .footer_body{
        font-size: 10px;
        text-align: center;
        padding: 0px;
    }
}
